<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <header>
      {{> header }}
    </header>
    <aside>
      {{> sidebar }}
    </aside>
    <main>
      {{{body}}}
    </main>
    <footer>
      {{> footer }}
    </footer>
  </body>
</html>
