<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <header>{{> header }}</header>
    <main>
      <aside>{{> sidebar }}</aside>
      {{{body}}}
    </main>
    <footer>{{> footer }}</footer>
  </body>
</html>
