<div class="services">
  <h1>Services</h1>

  <form class="services-form" action="/services">
    <div class="services-form-field services-form-field--name">
      <label>Name</label>
      <input name="serviceName">
    </div>

    <div class="services-form-field services-form-field--npm">
      <label>Ref. NPMJS</label>
      <input name="npmRef">
    </div>

    <div class="services-form-field services-form-field--github">
      <label>Ref. GitHub</label>
      <input name="githubRef">
    </div>

    <div class="services-form-field services-form-field--stackoverflow">
      <label>Ref. StackOverflow</label>
      <input name="stackoverflowRef">
    </div>

    <button class="services-form__action services-form__action-submit">Ajouter</button>
  </form>

  <hr>

  <ul class="services__list">
    {{#each services as |services|}}
      <li class="services__item">
        {{service.name}}
      </li>
    {{/each}}
  </ul>
</div>