<div class="services">
  <h1>Services</h1>

  <div class="service-list">
    {{#each services as |service|}}
      <article class="service-item">
        <a class="service-item__link" href="/services/{{service.ref}}">
          <header class="service-item__header">
            <img class="service-item__logo" src="images/button_icon.svg" alt="">
            <span class="service-item__ref">{{service.ref}}</span>
          </header>
          <div class="service-item__body">
            <h3 class="service-item__name">{{service.name}}</h3>
            <hr class="service-item__separator">
            <p class="service-item__description">{{service.description}}</p>
          </div>
          <footer class="service-item__footer">
            <div class="service-item__stats">
              <div class="service-item__stat">
                <span class="service-item__stat-icon service-item__stat-icon--downloads"></span>
                <span class="service-item__stat-label">XXX</span>
              </div>
              <div class="service-item__stat">
                <span class="service-item__stat-icon service-item__stat-icon--downloads"></span>
                <span class="service-item__stat-label">XXX</span>
              </div>
            </div>
          </footer>
        </a>
      </article>
    {{/each}}
  </div>

</div>
