<div class="sidebar">

  <div class="navigation-links">
    <ul class="navigation-links__list">
      <li class="navigation-links__item">
        <a class="navigation-links__link" href="/services">Services</a>
      </li>
    </ul>
  </div>

</div>